CSS RESET 
* {
    margin: 0;
    padding: 0;
    line-height: 1.25;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Verdana, Geneva, sans-serif;
    margin: 0;
}

p {
    font-size: 1.125rem;
}

h1 {
    font-size: 3.73rem;
    color: #ff0048;
    font-family: 'Monoton', cursive;
    font-weight: normal;
    text-shadow: 1.5px 1.5px 1.5px #12100e;
}

nav {
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #656565
}

nav ul {
    display: flex;
    margin: 0;
    justify-content: center;
}

nav ul li {
    flex-grow: 1;
}

nav ul li:first-child {
    flex-grow: 2;
}

ul {
    list-style-type: none;
}

nav ul a:link {
    text-decoration: none;
    color: #F4FC00;
    padding: 3px;
    display: block;
    text-shadow: 1px 1px #12100e;
}

nav ul a:visited {
    color: #FF3F00;
    text-shadow: 1px 1px 1px #12100e;
}

nav ul a:hover {
    background-color: #999999;
}

header {
    width: 100%;
    height:auto;
    background-image: url(../images/keys.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: right;
}

header p {
    color: #90ff00;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 
		-1.5px -1.5px 3.5px #200,
		1.5px -1.5px 3.5px #200,
		-1.5px 1.5px 3.5px #200,
		1.5px 1.5px 3.5px #200;
	margin-bottom: auto;
}

#videos {
    display: flex;
    justify-content: space-between;
    width: 99%
}

#videos p {
    position: relative;
    width: 50vw;
    overflow: hidden;
}

#videos iframe {
    width: 99%;
    height: 315px;
}

html {
    font-size: 24px;
}

article {
    text-align: justify;
    padding: 2.5%;
    top: 0;
    background-color: #999999;
}    

#about h2 {
    text-shadow: 1px 1px 1px #12100e;
}

#about a {
    text-shadow: 1px 1px 1px #12100e;
}

/*Media Queries*/
@media screen and (max-width: 768px) {
html {
    font-size: 16px;
}

#videos {
    flex-direction: column;
}

#videos p {
    height: auto;
    width: 99.9vw;
    overflow: hidden;
}

header {
    text-align: center;
}

header p {
    text-shadow:
		-.5px -.5px 2.5px #000,
		.5px -.5px 2.5px #000,
		-.5px .5px 2.5px #000,
		.5px .5px 2.5px #000;
    font-weight: normal;
}

article p {
    font-weight: normal;
}
}

/*Media Queries*/
@media screen and (max-width: 568px) {
html {
    font-size: 14px;
}
}

/*Media Queries*/
@media screen and (max-width: 428px) {
html {
    font-size: 11px;
}
}